.project-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allows stacking on smaller screens */
  padding: 9px;
  background-color: #f8f8f8;
}

.project-text {
  text-align: left;
  max-width: 40%;
  margin-left: 220px;
}

.project-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.project-button:hover {
  background-color: #9CA3AF;
}

.project-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
}

.project-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Adjustments */
@media screen and (max-width: 1024px) {
  .project-text {
    max-width: 50%;
    margin-left: 120px; /* Reduce left margin */
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    flex-direction: column; /* Stack elements on smaller screens */
    align-items: center;
    text-align: center;
  }

  .project-text {
    max-width: 90%;
    margin-left: 0; /* Remove left margin */
  }

  .project-text h2 {
    font-size: 1.8rem;
  }

  .project-button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .project-image {
    max-width: 80%;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .project-text h2 {
    font-size: 1.5rem;
  }

  .project-button {
    font-size: 14px;
    padding: 8px 18px;
  }

  .project-image {
    max-width: 100%;
  }
}
